#calculator{
    border: solid 1px black;
    height: 301px;
    width: 300px;
}

#screen{
    display:grid;
    justify-content: center;
    align-items:center;
    border: solid 1px black;
    height: 10%;
    padding: 1fr 1fr 1fr 1fr;
}

#buttonBody{
    height: 89%;
    background-color: red;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button{
    display:grid;
    justify-content: center;
    align-items:center;
    border: solid 1px black;
}

#newName {
    width: 150px;
}

#newVal {
    width: 500px;
}

.deleter {
    display: inline-block;
    opacity: 0; 
    transition: opacity 0.5s ease-out; 
    margin-top: 10px;
    height: 30px;
    width: 30px;
    background: url("deleteBlack.png");
    position: absolute; 
    border-radius: 5px; 
    z-index: 0;
}

.deleter:hover {
    background: url("deleteRed.png");
}

.adderHost {
    opacity: 0;
    width: 675px;
    transition: opacity 0.5s linear;
}

.adderHost:hover .deleter {
    opacity: 1;
}

.adderName {
    display: inline-block;
    height: 50px;
    width: 145px;   /* 165px total */
    margin: 0px 15px 0px 5px;
    border: solid;
    border-width: 1px;
    border-color:black;
    border-radius: 7px;
    overflow: auto;
    scrollbar-width: none;
}

.adderVal {
    display: inline-block;
    height: 50px;
    width: 485px;   /* 505px total */
    margin: 0px 15px 0px 5px;
    border: solid;
    border-width: 1px;
    border-color:black;
    border-radius: 7px;
    overflow: auto;
    scrollbar-width: none;
}

.adderName::-webkit-scrollbar {
    width: 12px;
}

.adderVal::-webkit-scrollbar {
    width: 12px;
}

#linkList {
    background-color: lightgrey;
    border: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 7px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 700px;
    padding: 20px;
}

.separator {
    height: 1px;
    border-width: 0px;
    width: 95%;
    color: black;
    background-color: black;
}